@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$primary: rgb(184, 184, 184);
$secondary: rgb(102, 102, 102);
$tertiary: rgb(181, 181, 181);

.info {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    font-family: 'Open Sans', sans-serif;

    &-section {
        width: 100%;
        min-height: 5vh;
        color: white;
        margin-bottom: 5%;

        .title {
            width: 100%;
            height: 5vh;
            display: flex;
            align-items: center;
            font-weight: bold;
            color: rgb(49, 97, 255);
        }

        .body {
            width: 100%;
            min-height: 5vh;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    color: $tertiary;
                }
            }
        }
    }

    .personal-info {

    }
}